<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="com.zenkou.paymentsystem.database.entity.db.User"/>
        <mapping class="com.zenkou.paymentsystem.database.entity.db.Address"/>
        <mapping class="com.zenkou.paymentsystem.database.entity.db.BankAccount"/>
        <mapping class="com.zenkou.paymentsystem.database.entity.db.CreditCard"/>
        <mapping class="com.zenkou.paymentsystem.database.entity.db.Payment"/>
        <mapping class="com.zenkou.paymentsystem.database.entity.db.Role"/>
    </session-factory>
</hibernate-configuration>